:global(.sidebar){
  width: 13%;
  height: 100%;
  background-color: #b3a6ff;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float:left;
}

:global(.head){
  margin-top: 40px;
  margin-left: 25%;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: relative;
}
:global(.logout){
  top: 70%;
  margin-left: 25%;
  position: relative;
  border:0;
}
